.jumbotron {
    background: url("https://a1.nyt.com/assets/homepage/20170301-140129/images/foundation/logos/nyt-logo-379x64.svg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 140px;
    font-style: normal; 
    font-family: georgia,"times new roman",times,serif;
    text-align: center;

}

.panel-heading {
    font-weight: 700;
    font-style: italic;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}